.answer {
  width: 100%;
  max-width: 640px;
  border: 0;
  outline: none;
  background-color: var(--gray-500);
  color: var(--gray-50);
  padding: 0.875rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  max-height: 6rem;
  border-radius: 4px;
  overflow: hidden;

  border: 2px solid transparent;
  transition: all 0.32s ease-in-out;

  > span {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  &--active {
    background-color: var(--gray-700);
    border-color: var(--gray-800);
  }

  &:not(.answer--active):hover {
    border-color: var(--gray-700);
    color: var(--gray-700);
    background: var(--gray-200);
  }
}
