.questions {
  width: 100%;

  .questionName {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem auto 0;
    font-weight: 700;
    max-width: 90%;
  }

  .questionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
  }
}
